<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 配置SolrClient对象 -->
	
	<!-- 单机版 -->
	<!-- <bean id="httpSolrClient"
		class="org.apache.solr.client.solrj.impl.HttpSolrClient">
		<constructor-arg name="builder"
			value="${SOLR.SERVER.URL}" />
	</bean> -->
	
	<!-- 集群版 -->
   	<bean id="cloudSolrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient" 
   	factory-bean="cloudSolrClientBuilder" factory-method="build">
		<property name="defaultCollection" value="collection1" />
	</bean>
	<bean id="cloudSolrClientBuilder" class="org.apache.solr.client.solrj.impl.CloudSolrClient.Builder">
		<constructor-arg index="0" name="zkHosts">
			<list>
				<value>${ZK.HOST.BASEURL}2181</value>
				<value>${ZK.HOST.BASEURL}2182</value>
				<value>${ZK.HOST.BASEURL}2183</value>
			</list>
		</constructor-arg>
		<constructor-arg index="1" name="zkChroot">
			<null />
		</constructor-arg>
	</bean>
</beans>
